# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.pytest_cache/
.coverage
htmlcov/

# Node / Vite
node_modules/
dist/
dist-ssr/
*.local

# Environment variables
.env
.env.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Database & Uploads temporary
*.sqlite3
uploads/*
!uploads/.gitkeep
backend/uploads/*
!backend/uploads/.gitkeep
backend/sync_conf.py

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
